@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
* {
  font-family: "Montserrat";
}

a:visited {
  color: #0000ee;
}

body,
h1 {
  margin: 0px;
  padding: 0px;
}

body {
  min-width: fit-content;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
}

h2 {
  font-size: 20px;
  color: #282828;
  font-weight: lighter;
  margin-bottom: 6px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 5px;
}

.name-text {
  font-size: 16px;
  color: #7c7c7c;
  font-weight: bold;
}

.about-me-text {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.mainbox {
  width: 210mm;
  padding: 30px;
  margin: 30px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #ebebeb;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

.title-box {
  text-align: right;
}

section {
  margin-bottom: 40px;
}

.float-wrap {
  overflow: hidden;
}

.title-text {
  font-size: 16px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: bold;
  color: #282828;
  float: left;
}

.year-text {
  font-size: 16px;
  font-weight: bold;
  color: #282828;
  float: right;
}

.desc-text {
  font-size: 14px;
  margin-top: -8px;
  margin-bottom: 1%;
  padding-left: 1%;
}

.desc-subtext {
  font-size: 13px;
  color: #282828;
  padding-left: 16px;
  margin-top: 0;
}

.sns-img {
  width: 12px;
  height: 12px;
}

.sns-wrap {
  text-align: right;
}

footer {
  text-align: center;
  background-color: #1e1e1e;
  padding: 20px;
  font-size: 12px;
  color: #919191;
}

/* .skills:after {
  content: "( 상=3 중=2 하=1 )";
  font-size: 14px;
  font-weight: 500;
  margin-left: 5px;
} */


@media (max-width: 768px) {
  .mainbox{
    width:120mm;
  }
}